/* app global css */

$primary   : #737373;
$secondary : #333333;
$accent    : #2d909d;

$dark      : #414141;
$dark-page : #121212;

$positive  : #008c21;
$negative  : #a30214;
$info      : #38abc2;
$warning   : #ffd82b;